.Phone {
    display: flex;
    align-items: center;
}

.PhoneInput {
    padding-left: 70px !important;
}

.Checkbox input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 45.5%;
    left: 15%;
    padding: 0;
    width: 17px;
    height: 17px;
    background-color: #D9D9D9;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.Checkbox.main input {
    position: absolute;
    left: 61.5%;
    top: 59%;
}

.Checkbox input:checked::before {
    content: '';
    position: absolute;
    top: 7%;
    left: 25%;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}



.Checkbox input:checked {
    background-color: #D9D9D9;
}